<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand"><i class="fa fa-lightbulb-o fa-2x logo"></i></h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" target="_blank" href="https://www.facebook.com/snaplearningedu/">Page</a>
            <a class="nav-link" target="_blank" href="https://www.youtube.com/channel/UC6tYhlM_YVFV2LjjXKKBiIw">Channel</a>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading title">Snap<br>Learning</h1>
        <hr>
        <!-- <div class="border"></div> -->
        <p class="lead discription">
          A curriculum of micro content
          <br>for getting a job.
          <br>This is the solution.
        </p>
        <p class="lead">
          <a href="https://www.facebook.com/snaplearningedu/" target="_blank" class="btn btn-lg btn-warning-outline btn-job">Get Your Job <i class="fa fa-lightbulb-o"></i></a>
        </p>
      </div>

      <div class="mastfoot copyright">
        <div class="inner">
          <p>&copy;Snap Learning by Jim / Fred / Yamato with <i class="fa fa-heart"></i></p>
        </div>
      </div>

    </div>

  </div>

</div>
